.table
  width: 100%
  margin-left: 24px
  margin-top: 28px

  .thead
    border-bottom: 1px solid #EBEEF6

    .th_tr
      font-style: normal
      font-weight: 500
      font-size: 13px
      line-height: 12px
      color: #667281

  .tbody
    .tbody_tr

      .td
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 16px

      .select
        display: inline-block
        border: none
        outline: none
        cursor: pointer