/*@import "styles/dashboard/Dashboard.module.css";*/
/*@import "styles/header/Header.module.css";*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

body {
    background: #F5F5F5;
}